:root {
  --primary: #043c39;
  --secondary: #ed6c4f;
  --white: #ffffff;
  --skin: #edede5;
  --black: #000000;
  --libre-franklin: "Libre Franklin", sans-serif;
}

@media (max-width: 1280px) {
  h1 {
    font-size: 50px;
  }

  .top-header {
    display: none;
  }

  .menu {
    background-color: var(--skin);
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    align-items: start;
    justify-content: start;
    padding: 34px 16px;
    visibility: hidden;
    transition: all 500ms ease-in-out;
    z-index: 999;
  }

  .header-change {
    background-color: transparent;
  }

  header {
    position: fixed;
    width: 100%;
    z-index: 9;
    background: transparent;
  }

  .menu.active {
    left: 0;
    visibility: visible;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu ul li a {
    padding-bottom: 55px;
    display: inline-block;
    font-size: 24px;
    color: var(--black);
    font-weight: 500;
  }

  .menu ul li:not(:first-child) {
    margin-left: 0;
  }

  .toggel-bar {
    display: block;
  }

  .menu-img-bar {
    display: flex;
    padding-bottom: 100px;
  }

  .hidden-text {
    display: block;
  }

  .menu ul .hidden-text a {
    font-weight: 300;
    color: var(--secondary);
  }

  header {
    position: static;
    background-color: var(--skin);
    padding-bottom: 45px;
  }

  .header-logo a:nth-child(1) {
    display: none;
  }

  .header-logo a:nth-child(2) {
    display: block;
  }

  .header-change {
    background: var(--skin);
  }

  .clip-header {
    background-color: var(--secondary);
  }

  /* header end */

  .banner {
    position: relative;
    height: 100%;
  }

  .banner-img {
    width: calc(100% + 32px);
    height: 50%;
    margin: 0px -16px;
    margin-top: 50px;
    position: static;
  }

  .banner-subtitle {
    color: var(--black);
  }

  .banner-title {
    color: var(--black);
  }

  .banner-btn a:nth-child(2) {
    display: block;
  }

  .banner-btn a:nth-child(3) {
    display: none;
  }

  .banner-content {
    padding-top: 0px 53px;
    height: 50%;
  }

  /* banner end */

  .three-columbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  /* three-grid box end */

  .processthree-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 50px;
  }

  /* process end */

  .resources-columbox {
    overflow: hidden;
    padding: 80px 0px;
  }

  .resources-slid .slick-prev {
    bottom: 0%;
    top: 105%;
    right: 50%;
    left: 40%;
    z-index: 1;
  }

  .resources-slid .slick-next {
    bottom: 0%;
    top: 105%;
    right: 50%;
    left: 45%;
    z-index: 1;
  }
  /* resources end */

  .top-footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .main-boxall {
    flex-direction: column;
    align-items: start;
  }

  .footer-menu {
    margin-top: 40px;
  }
  /* footer end */

  /* Who We Are */
  .banner-whoweare-content {
    padding: 0px;
    height: auto;
  }

  /* Who We Are page start */

  /* information start */
  .information-gridbox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px 40px;
  }

  .twocolum-information {
    padding: 50px 0px;
  }

  .information-box-title {
    max-width: 100%;
    height: 182px;
    overflow-y: auto;
  }

  .information-box-paragraph {
    max-width: 100%;
    height: 150px;
    overflow-y: auto;
  }
  /* information end */

  /* circle-data star */
  .circle-allbox {
    overflow-x: hidden;
  }
  /* circle-data end */

  /* Who We Are page end */

  /* what-we-do start */
  .wedo-header {
    background-color: var(--primary);
    color: var(--white);
  }

  /* tow-colum-page start */
  .show-colum-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .show-content {
    grid-column: 1/1;
  }

  .show-title {
    overflow: auto;
    background-color: var(--secondary);
    width: calc(100% + 32px);
    margin: 0px -16px;
    height: 80px;
    display: flex;
    margin-bottom: 50px;
  }

  .first-colum-showbox {
    padding: 0;
    position: sticky;
    top: 100px;
    display: flex;
    align-items: center;
  }

  .click-menu {
    padding: 0;
    display: flex;
  }

  .click-menu li {
    padding: 10px;
    width: 150px;
    text-align: center;
    max-width: 100%;
  }

  .click-menu li a {
    display: inline-block;
    padding: 0;
  }

  .tow-colum-page {
    padding: 20px 0px;
  }

  .problemsolving-img-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .second-img-content {
    margin: 0;
  }

  .secondimgbox-title {
    max-width: 100%;
  }

  .secondimgbox-paragraph {
    max-width: 100%;
  }

  .second-buttonbox {
    padding-bottom: 20px;
  }

  .left-arow-img {
    margin-bottom: 40px;
  }

  .secondbox-img {
    width: 100%;
  }

  /* tow-colum-page end */

  /* what-we-do end */

  /* our purpose start */

  /* our purpose tow colum start */

  .tow-colum-ourbox {
    padding: 50px 0px;
    background-color: var(--primary);
  }

  .our-allbox {
    grid-template-columns: repeat(1, 1fr);
  }

  .our-title {
    padding-bottom: 21px;
    max-width: 100%;
  }

  .our-paragraph {
    max-width: 100%;
  }
  /* our purpose tow colum end */

  /* our purpose tow colum img-content start */
  .purpose-imgcontent {
    padding: 20px 0px;
  }

  .purpose-imgcontent-box {
    grid-template-columns: repeat(1, 1fr);
  }

  .ourcontent-paragraph {
    max-width: 100%;
  }

  .ourimg-box {
    width: calc(100% + 32px);
    margin: 0px -16px;
  }

  .ourimg-box img {
    width: 100%;
    height: 50%;
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }
  /* our purpose tow colum img-content end */

  /* our purpose end */

  /* banner start */

  .banner-tow-columbox {
    flex-direction: column;
  }

  .resourcesbanner-img {
    position: static;
  }

  .strong-title {
    display: inline-block;
    font-weight: 500;
  }

  .white {
    color: var(--white);
  }

  .resourcesbanner-title {
    max-width: 100%;
  }

  .resourcesbanner-paragraph {
    max-width: 100%;
    height: 64px;
  }

  .resourcesbanner-img img:nth-child(2) {
    display: block;
  }

  .resourcesbanner-img img:nth-child(1) {
    display: none;
  }

  .resourcesbanner-img {
    width: calc(100% + 32px);
    margin: 0 -16px;
  }

  .resourcesbanner-content {
    margin-bottom: 48px;
  }

  .banner-clip {
    padding: 0px;
  }
  /* banner end */

  /* filterbox start */
  .fliter-button {
    flex-direction: column;
    align-items: start;
  }

  .tab-btn {
    margin-bottom: 53px;
  }

  .filter-gridbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .tab-btn {
    overflow-x: auto;
    width: 100%;
  }
  /* filterbox end */

  /* latest and updates start  */
  .mail-box {
    flex-direction: column;
  }

  .mailtext-box {
    margin-top: 35px;
    width: 70%;
  }

  .mail-title {
    margin: 0;
  }

  .mail-contentbox {
    padding-top: 100px;
    padding-bottom: 116px;
  }

  .slider-demobox {
    display: none;
  }

  /* latest and updates end*/

  /* preach-box start */

  .preach-box {
    padding: 50px 0px;
    background-color: var(--skin);
  }

  .preach-girdbox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }

  .video-box-grid {
    grid-column: 1/1;
  }

  .video-share-box {
    width: 100%;
    height: 100%;
    margin-top: 80px;
  }

  .res-shareicons a {
    width: 50px;
    height: 50px;
  }

  .res-shareicons a img {
    width: 20px;
    height: 20px;
  }

  .rea-title-show h3:nth-child(2) {
    display: block;
  }

  .rea-title-show h3:nth-child(1) {
    display: none;
  }

  .res-maintitle {
    color: var(--black);
  }
  /* preach-box end */
}

@media (max-width: 768px) {
  h1 {
    font-family: 45px;
  }

  .btn-support {
    display: none;
  }

  .columbox-content {
    position: absolute;
    padding-left: 30px;
    display: flex;
    padding-bottom: 20px;
    bottom: 0;
    flex-direction: column;
    justify-content: end;
    transition: all 500ms ease-in-out;
  }

  .columbox-title {
    font-size: 30px;
  }

  .left-colum-arow svg {
    width: 50px;
    height: 50px;
  }

  /* three-grid box end */

  .processthree-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px 50px;
  }

  /* process end */

  .resources-slid .slick-prev {
    bottom: 0%;
    top: 105%;
    right: 50%;
    left: 25%;
    z-index: 1;
  }

  .resources-slid .slick-next {
    bottom: 0%;
    top: 105%;
    right: 50%;
    left: 30%;
    z-index: 1;
  }
  /* resources end */

  .footer-menu {
    flex-direction: column;
  }

  .footer-menu li:not(:first-child) {
    margin-left: 0;
  }

  .footer-menu li {
    margin-bottom: 48px;
  }
  /* footer end */

  .purpose {
    background-size: cover;
    background-position: center;
  }

  .purpose::before {
    clip-path: polygon(0 -1%, 100% -1%, 100% 100%, 0 55%);
    width: 100%;
    height: 100%;
  }

  /* our-purpose start */
  .our-purpose {
    background-size: 900px;
    background-position: bottom;
  }

  .our-purpose::before {
    clip-path: polygon(0 -1%, 100% -1%, 100% 100%, 0 55%);
    width: 100%;
    height: 100%;
  }
  /* our-purpose end */

  /* our-purpose start */
  .res-purpose {
    background-size: 900px;
    background-position: bottom;
  }

  .res-purpose::before {
    clip-path: polygon(0 -1%, 100% -1%, 100% 100%, 0 55%);
    width: 100%;
    height: 100%;
  }
  /* our-purpose end */

  .purpose-box {
    position: relative;
    padding: 0px 20px;
    padding-top: 50px;
    padding-bottom: 250px;
  }

  .purpose-sub-title {
    font-size: 34px;
  }

  .purpose-paragraph {
    max-width: 339px;
    height: 87px;
  }

  .video-img {
    width: calc(100% + 32px);
    margin: 0 -16px;
  }
  /* three-grid box end */
}

@media (max-width: 640px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 40px;
  }

  h4 {
    font-size: 32px;
  }

  .banner-btn {
    flex-direction: column;
  }

  .banner-img img {
    width: 100%;
    height: 500px;
  }

  /* banner and  */

  .three-columbox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 9px 0px;
  }

  .all-columbox {
    background: var(--skin);
    padding-top: 300px;
  }

  .columbox {
    width: calc(100% + 32px);
    margin: 0px -16px;
  }

  /* three-grid box end */

  .main-content {
    font-size: 33px;
    font-weight: 100;
  }

  .process-box-all {
    background-color: var(--primary);
    padding: 50px 0px;
  }

  /* process-box */

  .resources-slid .slick-prev {
    bottom: 0%;
    top: 105%;
    right: 50%;
    left: 10%;
    z-index: 1;
  }

  .resources-slid .slick-next {
    bottom: 0%;
    top: 105%;
    right: 50%;
    left: 17%;
    z-index: 1;
  }
  /* resources end */

  .footer-contact {
    flex-direction: column;
  }

  .footer-contact .contact-logo:first-child {
    margin-bottom: 21px;
  }
  /* footer end */

  .filter-gridbox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  .mailtext-box {
    margin-top: 35px;
    width: 100%;
  }
}
